.slideshow-container{
    width: 90%;
    height: 75%;
    position: relative;
    .slide-container{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .dot-container{
        width: 100%;
        height: auto;
        position: absolute;
        text-align: center;
        bottom: 0px;
        padding: 0px;
        margin: 0px;
        background-color: rgba(0, 0, 0, 0.5);
        .dot-slide{
            width: 10px;
            height: 10px;
            border-width: 1px;
            border-radius: 50%;
            box-sizing: border-box;
            background-color: #BEBEBE;
            margin-top: 10px;
            margin-bottom: 6px;
            padding: 0px;
            display: inline-block;
            margin-right: 10px;
            cursor: pointer;
        }
        .dot-active{
            background-color: #fff;
        }
    }
}